<!DOCTYPE html>
<html>
  <head>
    <title>CliffHanger</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>The End Of It All...</h1>
    <p>A @Model.Noun1 was @Model.PresentParticiple1 from a @Model.Noun2. What do you think happens next, @Model.UserName?</p>
  </body>